body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2eee3;
}

input [type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 200px;
    height: 100px;
    background: grey;

    display: block;
    border-radius: 100px;
    position: relative;
}