body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2eee3;
}

input [type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}